.panel-container {
  display: flex;
  gap: 0.5rem;          
  overflow-x: auto;       
  padding: 0.5rem 0;      
  white-space: nowrap;    
}

.boton-cerrar {
  display: flex;
  flex-direction: row;  
  gap: 1rem;            
  margin-bottom: 1rem;
  width: 100%;          
}

.panel-box {
  flex: 1;              
  min-width: 120px;     
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
}



.table-materiales {
  margin-top: 0.5rem;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85rem;
  text-align: center;
}

.table-materiales th,
.table-materiales td {
  border: 1px solid black;
  padding: 3px;
}

.table-materiales th {
  background-color: #8F3D38;
  color: white;
}

.search-container {
  margin-top: 0.5rem;
  position: relative;
  display: block;
}

.search-input {
  padding: 0.2rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.85rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
}
