.panel-container {
    display: flex;
    gap: 1rem;
  }
  
  .panel-box {
    padding: 1rem;
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;

  }
  
  .table-materiales {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
    text-align: center;

  }
  
  .table-materiales th,
  .table-materiales td {
    border: 1px solid black;
    padding: 5px;
  }
  
  .table-materiales th {
    background-color: #f0f0f0;
  }
  
  .search-container {
    margin-top: 1rem;
  }
  
  .search-input {
    padding: 0.2rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .search-container {
    position: relative;
    display: block;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 20px;
  }