/* Contenedor general de formulario */
.form-group {
    display: flex;
    align-items: center; /* alinea verticalmente todos los elementos */
    gap: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
  
  .form-group input,
  .form-group select {
    flex: 1;
    min-width: 150px;
    height: 40px; /* misma altura para todos */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group button {
    flex: none;
    height: 40px; /* igual que inputs */
  }
  
  
table{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 15px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}

th{
    background-color: #8F3D38;
    color: white;
}

input{
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    background-color: #8F3D38;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}


button:hover{
    background-color: #7a2f2b;
}

.btn-crear{
    margin-left: 1rem;
}

.input2{
    margin-left: 3rem; 
    margin-right: 3rem;
}



option{
    background-color: #f0f0f0;
}

select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px; 
}
